/* Styles for the card*/
.card{
  width: 100%;
  padding-bottom: 150%;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 10%;
}       

/* Stack both divs and hide their backs */
.card .front, .card .back{
    position: absolute;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;        
    
/* Apply some transitions so we see the element flip */ 
    transition: transform 0.3s linear 0s;
    -webkit-transition: -webkit-transform 0.3s linear 0s;
        
/* Assign a perspective, try this value */
    transform: perspective(600px);
    -webkit-transform: perspective(600px);
    width: 100%;
    height: 100%;
}

/* The .back element should be rotated at first, facing his back, hidden*/
.card .back{

    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    background: url(star.png) center center;
    text-align: center;
}

/* The .front card needs to rotate when we hover, 180 degrees will do the trick*/
.card:hover .front{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

/* The .back card has to rotate to 0 degrees and be visible*/
.card:hover .back{
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
}

/*###########################################################*/

/* Styles for the card*/
.card1{
  width: 100%;
  padding-bottom: 150%;
  position: relative;
  top: 0;
  left: 0;
}       

/* Stack both divs and hide their backs */
.card1 .front, .card1 .back{
    position: absolute;
    top: 0;
    left: 0;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;        
    
/* Apply some transitions so we see the element flip */ 
    transition: transform 0.3s linear 0s;
    -webkit-transition: -webkit-transform 0.3s linear 0s;
        
/* Assign a perspective, try this value */
    transform: perspective(600px);
    -webkit-transform: perspective(600px);
    width: 100%;
    height: 100%;
}

/* The .back element should be rotated at first, facing his back, hidden*/
.card1 .back{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    background: url(star.png);
    text-align: center;
    border: 1px solid #1F1F1F;
}

/* The .front card needs to rotate when we hover, 180 degrees will do the trick*/
.card1:hover .front{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

/* The .back card has to rotate to 0 degrees and be visible*/
.card1:hover .back{
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
}

