@import url(http://fonts.googleapis.com/css?family=Exo+2:400,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700italic,800italic,400,800,700);

#overlay{
  background: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 1;
}

*{
  color: #fff;
}

h1, h2, h3, h4, h5{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 800 !important;
  font-style: italic !important;
}

header, #content, body{
  //background: #000 !important;
  background: url(twinkle_twinkle.png) !important;
}

.box{
  width: 25%;
}

input{
  color: #000;
  position: relative;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #d8d8d8;
  height: 36px;
  line-height: 34px;
  font-size: 16px;
  font-size: 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

input:focus{
  outline: none;
}