<template name='contactus'>
  <!--[if lt IE 7]><div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</div><![endif]-->
          
  <header class="banner navbar navbar-static-top" role="banner">
    <div class="navbar-inner">
      <div class="container">

        <a class="brand" href="/">
          <img src="pnyevents.png" alt="" />
        </a>
        
        <nav class="nav-main nav-collapse" role="navigation">        
          <ul id="menu-primary-navigation" class="nav top-nav clearfix">
            <li id="menu-item-4100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4100">
              <a href="/" >Home</a>
            </li>
            <li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101">
              <a href="events" >Events</a>
            </li>
            <li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102">
              <a href="contact" >Contact</a>
            </li>
          </ul>           
        </nav>

      </div>
    </div>    
  </header>
  <!-- end header -->

  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <div style="text-align: center; padding: 100px 0; text-transform: uppercase;"><h1><h1>Contact</h1></h1>
        </div>
      </div>
    </div>
  </div>

  <div id="contactus">
    <br/><br/><br/>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-6 col-xs-offset-3'>
          <p>If you have general questions about PNY or feedback about the website, email phil@pnyevents.com.</p>
          <p>You can also find us on Twitter and Facebook.  If you would like for us to contact you to discuss more about partnering with PNY then please fill out one of the forms below:</p>
          <br/><br/>
          <div class="input-group input-group-lg">
             <span class="input-group-addon"><i class="fa fa-envelope"><!-- &nbsp;Email --></i></span>
            <input type="text" id='email' class="form-control" placeholder="Enter email address">
          </div>
          <br/>
          <textarea class="form-control" rows="6" id="message" placeholder="Enter message" style='padding: 15px !important;'></textarea>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
          <br/><br/>
          <button type="button" id="send-email" class="btn btn-block btn-custom btn-lg">Send</button>
          <br/><br/><br/><br/><br/><br/>
      </div>
    </div>

  </div>
</template>