<template name='events1'>
  <!--[if lt IE 7]><div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</div><![endif]-->
          
  <header class="banner navbar navbar-static-top" role="banner">
    <div class="navbar-inner">
      <div class="container">

        <a class="brand" href="#">
          <img src="pnyevents.png" alt="" />
        </a>
        
<!--           <nav class="nav-main nav-collapse" role="navigation">        
          <ul id="menu-primary-navigation" class="nav top-nav clearfix">
            <li id="menu-item-4099" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4099">
              <a href="http://sojournnetwork.com/about/" >About</a>
            </li>
            <li id="menu-item-4100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4100">
              <a href="http://sojournnetwork.com/our-churches/" >Churches</a>
            </li>
            <li id="menu-item-4101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101">
              <a href="http://sojournnetwork.com/news/" >News</a>
            </li>
            <li id="menu-item-4102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102">
              <a href="http://sojournnetwork.com/contact/" >Contact</a>
            </li>
          </ul>           
        </nav>
-->
      </div>
    </div>    
  </header>
  <!-- end header -->

  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <div style="text-align: center; padding: 100px 0; text-transform: uppercase;"><h1>{{choose}}</h1>
          <select id='choose' class="form-control" style="width:300px; margin: 0 auto;">
            <option>New York</option>
            <option>Boston</option>
            <option>DC</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div id="event1">
    <br/><br/><br/>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-1'>
          <div style="width:600px; margin: 0 auto;">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button type="button" id="past" class="btn btn-custom btn-lg">Past Weeks</button>
              </div>
              <div class="btn-group">
                <button type="button" id="this" class="btn btn-custom btn-lg">This Week</button>
              </div>
              <div class="btn-group">
                <button type="button" id="next" class="btn btn-custom btn-lg">Next Week</button>
              </div>
            </div>
          </div>

          <br/><br/><br/><br/>

          {{#if past}}
            <br/>
            <div class='row'>
            {{#each eventsofpast}}
              {{> pastEventItem}}
            {{/each}}
            </div>
          {{/if}}

          {{#if today}}
            <br/>
            <div class='row'>
            {{#each eventsthisweek}}
              {{> eventItem}}
            {{/each}}
            </div>
          {{/if}}

          {{#if next}}
            <br/>
            {{#each eventsnextweek}}
              {{> eventItem}}
            {{/each}}
          {{/if}}

        </div>
      </div>
    </div>

    <br/><br/><br/><br/>

  </div>
</template>

<template name='pastEventItem'>
  <div class='col-md-3'>
    <div class="card">
      <div class="front img-responsive">
      </div>
      <div class="back img-responsive">
        <h3>{{day}}</h3>
      </div>
    </div>
  </div>
</template>

<template name='eventItem'>
  <div class='col-xs-6'>
    <div class="card1">
      <div class="front img-responsive">
      </div>
      <div class="back img-responsive">
        <br/>
        <h2>{{day}}</h2>
      </div>
    </div>
  </div>
</template>